body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-color: #eee;
}

h1 {
	font-size: 26px;
	margin: 0 0 25px;
}

#content {
	margin-left: 275px;
	margin-top: 160px;
	margin-right: 50px;
	transition: margin .1s linear;
	position: relative;

	&.toggle {
		margin-left: 150px;
	}
}

table .material-icons {
	color: $light-purple;

	&:hover {
		color: $purple;
	}
}

.btn.create {
	float:right;
	margin-top: 20px;
    position: absolute;
    right: 0;
}
