body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-color: #eee;
}

h1 {
	font-size: 26px;
	margin: 0 0 25px;
}

#content {
	margin-left: 275px;
	margin-top: 160px;
	margin-right: 50px;
	transition: margin .1s linear;
	position: relative;

	&.calendar {
	    margin: 135px 0 0 225px;
	}

	&.expanded {
		margin-left: 150px;

		&.calendar {
			margin: 135px 0 0 100px;
		}
	}
}

table .material-icons {
	color: $light-purple;

	&:hover {
		color: $purple;
	}
}

.table {
	th, td, hr, thead, tbody, .fc-row {
		background: transparent !important;
	}
}

.btn.create {
	float:right;
	margin-top: 20px;
    position: absolute;
    right: 0;
}
