vendor/*
node_modules/*
Homestead.yaml
Homestead.json
.env
resources/assets/bower_components*
resources/assets/css*
public/assets/dist*
public/uploads*
*.min.*
config/database.php
composer.lock
.DS_Store
