#calendar {
    padding: 0 25px;

    .event {
        &.closed {
            background-color: #f00;
            border-color: #f00;
        }
    }

    .fc-content {
        cursor: pointer;
    }

    .fc-center {
        h2 {
            font-size: 24px;
        }

        &:hover .fc-button {
            border: 1px solid #aaa;
            background: #f1f5f8;
            box-shadow: 0px 1px 2px #ccc;
            -webkit-box-shadow: 0px 1px 2px #ccc;
            -moz-box-shadow: 0px 1px 2px #ccc;
        }
    }

    .fc-button {
        color: #252c32;
        border: solid 1px #aaa;
        background: #f1f5f8;
        box-shadow: 0px 1px 2px #CCC;
        -webkit-box-shadow: 0px 1px 2px #CCC;
        -moz-box-shadow: 0px 1px 2px #CCC;

        &.fc-state-down, &.fc-state-active, &.fc-state-disabled {
            opacity: 1;
            box-shadow: inset 0px 0px 10px #ccc !important;
            -webkit-box-shadow: inset 0px 0px 10px #ccc !important;
            -moz-box-shadow: inset 0px 0px 10px #ccc !important;
        }

        &:active, &:focus {
            outline: 0;
        }
    }

    .fc-head thead th.fc-today {
        border-bottom: 3px solid #000;
    }
}
