.charts {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;

    .item {
        background-color: #fff;
        border: 2px solid #eee;
        padding: 15px;

        &.earnings {
            background-color: $light-purple;
            color: #fff;
            text-align: center;
        }
    }

    .wrapper {
        padding: 0;
    }
}