nav {
	height: 100%;
	width: 225px;
	background-color: $primary-purple;
	transition: width .1s linear;

	&.toggle {
		width: 100px;

		a span {
			display: none;
		}
	}

	ul {
		text-align: center;

		li {
			display: block;
			margin-bottom: 15px;

			&.sidebar-brand {
				background-color: $purple;
				height: 115px;
				margin-bottom: 15px;
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;

				a {
					width: 100%;
					height: 100%;
				}
			}

			a {
				transition: all .1s linear;
				color: $light-purple;

				&:hover, &:focus {
					background: none !important;
					color: #fff;

					.material-icons {
						color: #fff;
					}
				}

				.material-icons {
					margin-bottom: 10px;
					display: block;
				}
			}
		}
	}
}

.topbar {
	height: 115px;
	background-color: #fff;
	width: calc(100% - 225px);
	position: fixed;
	right: 0;
	top: 0;
	transition: width .1s linear;
	z-index: 6;

	&.toggle {
		width: calc(100% - 100px);
	}

	.hamburger-menu {
		color: $grey;
		position: relative;
		top: 40px;
		left: 50px;
		transition: all .1s linear;

		&:hover {
			color: $light-purple;
		}

		i {
			font-size: 32px;
		}
	}

	.user {
		position: absolute;
		right: 50px;
		top: 40px;
	}
}
